 {% load product_extras %}

<div class="card mt-5">
    <div class="card-body">
        <div class="font-weight-bold">
            Resumen del pedido    
        </div>

        <div class="">

            <table class=" class="table table-borderless table-sm"">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <td></td>
                        <td>{{cart.total | price_format }}</td>
                    </tr>
                    <tr>
                        <td >Envío: </td>
                        <td></td>

                        <td>{{order.shipping_total | price_format}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="">
            <hr>
            <div class="font-weight-bold text-danger">
                Total

                <div class="d-inline-block">
                    {{ order.total | price_format}}

                </div>

            </div>
            <hr>
        </div>
        <form action="">
            <input type="radio" id="bank_transfer" name="payment_method" value="bank_transfer">
            <label for="bank_transfer">Transferencia bancaria</label><br>
        
            <input type="radio" id="paypal" name="payment_method" value="paypal">
            <label for="paypal">PayPal</label><br>
        
            <input type="radio" id="credit_card" name="payment_method" value="credit_card">
            <label for="credit_card">Tarjeta de crédito</label><br>
        
            <input type="radio" id="debit_card" name="payment_method" value="debit_card">
            <label for="debit_card">Tarjeta de débito</label><br>
        
        </form>

        <div class="mt-2 text-center">
            <a href="#" class="btn btn-warning"> Confirmar pedido</a>
        </div>

    </div>

</div>