



      <div class="col-lg-2">

        <h3 class="my-4">Categorías</h3>
        <div class="list-group">
          <a class="mt-5 list-group-item list-group-item-action list-group-item-warning">Precio</a>
          <a class="mt-5 list-group-item list-group-item-action list-group-item-danger">Modelo</a>
          <a class="mt-5 list-group-item list-group-item-action list-group-item-primary">Talla</a>
          <a class="mt-5 list-group-item list-group-item-action list-group-item-success">Color</a>
        </div>

      </div>